body {
background-color: #ffffff;
background-image: url("img/thumb-1920-531424.jpg");
background-size: cover ;
margin: 0;
padding: 0;
background-repeat: space;
font-family: "Times New Roman", Times, serif;
}

/* Add a black background color to the top barigation bar */
.topbar {
overflow: hidden;
}

/* Style the links inside the barigation bar */
.topbar a {
float: right;
display: block;
color: #00ffff;
text-align: center;
padding: 14px 18px;
text-decoration: none;
font-size: 20px;
}

/* doing the hover efect for the top bar */
.topbar a:hover {
background-color: #2196F3;
color: white;
}

/* Style the "active" element to highlight the current page */
.topbar a.active {
background-color: #2196F3;
color: white;
}

.searchForm{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

/* seting the position & customization for the logo */
.gooolestyle{
border-radius: 150px;
padding: 20px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-110%);
transition: 0.5s;
} 

/* seting the best settings for the form */
.searchForm input[type=text]{ 
width: 570px;
padding: 1.75% 20px;
padding-left: 30px;
padding-right: 30px;
border: 6px;
margin-top: 15px;
font-size: 21px;   
align-items: stretch ;
border-radius: 30px ;
}

/* doing the hover & focus efect for the search Form */
.searchForm input[type=text]:hover, .searchForm input[type=text]:focus{
border-color: #2196f3;
overflow: hidden;
outline: none;
box-shadow: lightblue 3px 3px 8px 2px ;
transition: 0.2s;
}

/* setening the action for the search botton */
.searchForm a {
margin-top: 15px;
position: relative;
display: block;
padding: 15px 25px;
color: black;
text-transform: uppercase;
letter-spacing: 3px;
text-decoration: none;
font-size: 13px;
overflow: hidden;
transition: 0.2;
-webkit-text-stroke: 0.5px black;
}

/* setening the hover to for the search botton */
.searchForm a:hover {
color: black;
background:rgb(255, 255, 255);
box-shadow:  0 0 5px lightblue, 0 0 20px lightblue,  0 0 40px lightblue;
transition-delay: 0.55s;
}

.searchForm a span {
position: absolute;
display: block;
}

/* setening the atriputes and actions for the borders for the leftbtn */
.leftbtn a span:nth-child(1) {
top: 0;
left:-100%;
width: 100%;
height: 2px;
background: linear-Gradient(90deg,transparent,lightblue);
}

.leftbtn a:hover span:nth-child(1) {
left: 100%;
transition: 0.5s; 
}

.leftbtn a span:nth-child(3)  {
bottom: 0;
right:-100%;
width: 100%;
height: 2px;
background: linear-Gradient(270deg,transparent,lightblue);
}

.leftbtn a:hover span:nth-child(3) {
right: 100%;
transition: 0.5s; 
transition-delay: 0.25s;
}

.leftbtn a span:nth-child(2)  {
top: -100%;
right:0;
width: 2px;
height: 100%;
background: linear-Gradient(180deg,transparent,lightblue);
}

.leftbtn a:hover span:nth-child(2) {
top: 100%;
transition: 0.5s; 
transition-delay: 0.125s;
}

.leftbtn a span:nth-child(4)  {
bottom: -100%;
left:0;
width: 2px;
height: 100%;
background: linear-Gradient(360deg,transparent,lightblue);
}

.leftbtn a:hover span:nth-child(4) {
bottom: 100%;
transition: 0.5s; 
transition-delay: 0.375s;
}

/* setening the atriputes and actions for the borders for the rightbtn */
.rightbtn a span:nth-child(1)  {
top: 0;
left:100%;
width: 100%;
height: 2px;
background: linear-Gradient(270deg,transparent,lightblue);
}

.rightbtn a:hover span:nth-child(1) {
left: -100%;
transition: 0.5s; 
}

.rightbtn a span:nth-child(3)  {
bottom: 0;
right:100%;
width: 100%;
height: 2px;
background: linear-Gradient(90deg,transparent,lightblue);
}

.rightbtn a:hover span:nth-child(3) {
right: -100%;
transition: 0.5s; 
transition-delay: 0.25s;
}

.rightbtn a span:nth-child(4)  {
bottom: 100%;
left:0;
width: 2px;
height: 100%;
background: linear-Gradient(180deg,transparent,lightblue);
}

.rightbtn a:hover span:nth-child(4) {
bottom: -100%;
transition: 0.5s; 
transition-delay: 0.125s;
}

.rightbtn a span:nth-child(2)  {
top: 100%;
right:0;
width: 2px;
height: 100%;
background: linear-Gradient(360deg,transparent,lightblue);
}

.rightbtn a:hover span:nth-child(2) {
top: -100%;
transition: 0.5s; 
transition-delay:0.375s ;
}

/* assining the botton to there best suted places */
.leftbtn {
float: left;
}

.rightbtn{
float: right;
}

.folower {
margin-top: 87vh;
margin-left: 2%;
position: fixed;
display: flex;
}

.folower a {
float: right;
display: block;
color: #00ffff; 
text-align: center;
padding: 0% 10px;
text-decoration: none;
font-size: 120%;
}

.folower a:hover {
color: white;
}

/* simple responsive style  */
@media (max-width: 2000px) {
body {
background-size: cover;
}

.gooolestyle{
width: 38%;
transition: 0.5s; 
} 

.searchForm {
width: 45vh;
width: 50%;
}

.searchForm input[type=text]{ 
width: 100%;
transition: all 0.5s ease-in-out; 
}

.rightbtn{
float: left;
margin-top: -5px;
margin-left:10% ;
}

.leftbtn{
float: left;
margin-top: -5px;
margin-left:15.5% ;
}

}
